<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Resume of Avishai Katz, Information Systems Student at Ben Gurion University </title>
        <!-- Link to the CSS file that will contain a page layout -->
    <link href="{{ url_for('static', filename='MainCSS.css') }}" rel="stylesheet">
</head>
<body style="background-color: #4296EB;">
        <section class="resume-section" id="education">
            <div style="width: 100%">
                {% include 'Title.html' %}
                {% extends 'Pics.html' %}
                {% block Main_Pics %}
                    <br><br>
                    <div style="font-size: large">
                        {% if films %}
                            {% for film in films %}
                                <p>{{film}}</p>
                            {% endfor %}
                        {% else %}
                            <p>Sorry, no taste in films</p>
                        {% endif %}
                     </div>
                {% endblock %}
            </div>
        </section>
</body>
</html>